<%- include("../partials/header") -%>
  <title>Bookings</title>
</head>
<body>

  <div class="container content">

    <h2><%= Message %></h2>
    <form action="/admin/bookings/filters" method="post">
      location:<input type="text" name="location">
      date: <input type="date" name="date">
      <button type="submit">Apply Filter</button>
    </form>
    <h1>Bookings</h1>

    <% Bookings.forEach((Booking)=>{ %>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">location:<%=Booking.location %></div>
        <div class="card-header">Username:<%=Booking.username %></div>
        <div class="card-body">
          <h5 class="card-title">servicename:<%= Booking.servicename %></h5>
          <h5 class="card-title">requestdate:<%= Booking.requestdate %></h5>
          <h5 class="card-title">requesttime:<%= Booking.requesttime %></h5>
          <h5 class="card-title">status:<%= Booking.status%></h5>
        </div>
      </div>
    <% }) %>
    
  </div>
  
</body>
</html>