
<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/mycards.css">
<title>Locations</title>
</head>
<body>
  <% if(Authenticated){ %>

    <%- include('partials/afterloginnavbar'); -%>

  <% } else { %>

      <%- include('partials/navbar'); -%>

   <% } %>
  <div class="container content">
    <h1>Locations</h1>

    <% Locations.forEach((location)=>{ %>
      <div class="card  border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-dark"">
          <img class="card-img-top" height="200px" src="/assets/logo.png" alt="Card image cap">
        </div>
        <div class="card-body bg-transparent border-dark">
          <h5 class="card-title">Branch Name:<%=location.branchname %></h5>
          <h5 class="card-title">Contact:<%= location.contact %></h5>
          <h5 class="card-title">Address:<%= location.address %></h5>
          <h5 class="card-title">City:<%= location.city %></h5>
          <h5 class="card-title">State:<%= location.state %></h5>
          <h5 class="card-title">Zip:<%= location.zip %></h5>
        </div>
      </div>
    <% }) %>
    
  </div>
  

<%- include('partials/footer'); -%>