
<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/styles.css">
<title>Services</title>
</head>
<body>
  <% if(Authenticated){ %>

    <%- include('partials/afterloginnavbar'); -%>

  <% } else { %>

      <%- include('partials/navbar'); -%>

   <% } %>
   <div class="container content">
    <h1>Services</h1>

    <% Services.forEach((service)=>{ %>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Service:<%=service.servicename %></div>
        <div class="card-body">
          <h5 class="card-title">Description:<%= service.description %></h5>
        </div>
      </div>
    <% }) %>
    
  </div>
  

<%- include('partials/footer'); -%>