
<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/mycards.css">
<title>Services</title>
</head>
<body>
  <% if(Authenticated){ %>

    <%- include('partials/afterloginnavbar'); -%>

  <% } else { %>

      <%- include('partials/navbar'); -%>

   <% } %>
   <%- include("partials/whatsapp") -%>
   <div class="container content">
    <h1>Services</h1>
    <table id="allcards">
    <% Services.forEach((service,idx)=>{ %>
      <% if((idx)%3===0) { %>

        <tr >
      <% } %>
      <td>
      <div class="card  border-dark mb-3" style="width: 18rem;">
        <div class="card-header bg-transparent border-dark"">
          <img class="card-img-top" height="200px" src="/assets/logo.png" alt="Card image cap">
        </div>
        <div class="card-body bg-transparent border-dark">
          <h5 class="card-title">Service:<%=service.servicename %></h5>
          <p class="card-text">Description:<%= service.description %> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </td>
      <% if((idx)%3===2) { %>
        </tr>
      <% } %>
    <% }) %>
  </table>
  </div>
  


<%- include('partials/footer'); -%>





